.cart-header {
  left: 100px;
  width: 500px;
  position: fixed;
  border: 1px solid #e0e0e0;
  text-align: center;
  float: right;
  line-height: 35px;
  padding: 22px 0 8px;
  padding-bottom: 0px;
}
.cart-box {
  left: 100px;
  top: 60px;
  position: fixed;
  width: 500px;
  text-align: center;
  float: right;
  line-height: 55px;
  padding: 0 !important;
  border: 1px solid #e0e0e0;
}

.customer-box.col {
  width: 500px;
  box-sizing: border-box;
  height: 70px;
  padding: 0 !important;
}

.cart-item {
  /* border-bottom: 1 solid #e0e0e0; */
  box-sizing: border-box;
  padding: 0 !important;
  border-bottom: 1px solid #e0e0e0;
  padding: 20px 32px 20px 0;
  display: block;
  width: 80%;
  height: 100% !important;
  list-style-type: none;
}

.col-4 {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  max-width: 30% !important;
}

.cart-item .item {
  margin: 1px !important;
  border-bottom: 1px solid #c4cfd8;
}

.item.row {
  width: 500px;
  padding: 0px !important;
  margin: 0px !important;
}

.close-item {
  
  padding-right: 0px !important;
}
.close-item button{
	border: 1px solid #8d8b8b;
	border-radius: 5px;
	background-color: #fff;
}
.cart-item .item img {
  width: 3rem;
}
.price-info-item {
  padding-right: 0px !important;
}
.cart-item li {
  box-sizing: border-box;
}
.cart-item .item .col-7 {
  padding: 0;
  text-align: left;
}
.row.cart-footer {
  width: 500px;
  text-align: center;
  align-items: center;
}
.cart-footer {
  bottom: 0px;
  position: fixed;
  margin-bottom: 5px !important;
  width: 500px;
}

.cart-footer .btn-primary {
  background-color: #1d63dc !important;
  border-radius: 5px;
  width: 500px;
}

.customer-box button {
  width: 90%;
  background-color: #fff !important;
  border-radius: 10px;
  height: 55px;
  color: black !important;
  align-self: start;
}
.modal-header button {
  width: 100%;
  border-radius: 10px;
}

input.form-control {
  width: 500px;
}

div.modal-content{
	width: 520px;
}

.customer-item{
	width: 500px;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	list-style-type: none;
	padding-top:15px;
	border-bottom: 1px solid #c4cfd8;
}
.list-customer{
	list-style-type: none;
}
.customer-item:hover{
	color: rgb(14, 76, 157);
}

.payment-box{
	text-align: center;
	display: block !important;
}
.payment-box img{
	width: 100px;
}