body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
header {
  background-color: #ffa;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  height: 40px;
}
.container {
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.content {
  display: flex;
  flex-wrap: wrap;
}

.container {
  width: 100%;
  margin-right: 0px !important;
  max-width: 90% !important;
}

.col-8 {
  padding: 0px !important;
}

.cart-title {
  font-weight: 100;
}
.row {
  margin: 0 !important;
}

.con-right.container{
  padding-left: 600px !important;
  margin: 0px !important;
}

.product-list {
  position: relative;
  top: 60px;
  right: -20px;
}
