.login-form {
	max-width: 500px;
  }
  .login-form-forgot {
	float: right;
  }
  .ant-col-rtl .login-form-forgot {
	float: left;
  }
  .login-form-button {
	width: 100%;
  }  
  .center-component {
	/* display: flex; */
    /* justify-content: center;
    align-items: center;
	height:100vh;   */
	
  }