.left-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.left-menu li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.left-menu li a.active {
  background-color: #4182cc;
  color: white;
}

.left-menu li a:hover:not(.active) {
  background-color: rgb(158, 152, 152);
  color: white;
}
