.product-list-header {
  width: 106%;
  border: 1px solid #e0e0e0;
  font-weight: 400;
  color: #1d1d1d;
  line-height: 35px;
  padding: 23px 0 8px;
  text-align: center;
  flex: 3 45rem;
}
.product-list {
  width: 101%;
  border: 1px solid #e0e0e0;
  color: #1d1d1d;
  line-height: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
}

.products {
  width: 16rem !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
.card{
	width: 265px !important;
    height: 210px !important;
    margin: 5px !important;
	align-items: center;
}
.card-title{
	font-size: 1rem !important;
	margin-bottom: 0 !important; 
}
.card-title .cart-text{
	font-size: 0.7rem;
}
.card-img-top{
	width: 70px !important;
	margin-bottom: 15px !important;
}
.card-body{
	padding-top: 5px !important;
	padding-bottom: 0px !important;
	padding: 0px !important;
}
.card-text{
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
}
.card-footer{
	padding:0 !important;
}
.product-pagination{
	align-items: right;
	margin: 10px 10px 0px  ;
}
.pagination {
	margin-bottom: 10px !important;
}

.form-control{
	margin-top: 10px;
}
.product-header{
	position: fixed;
	top: 0;
	z-index: 100;
	background-color: white;
	width: 100%;
	display: flex;
	border-bottom: 1px solid #e0e0e0;
}
.search-product{
	width:970px
}